@import url('https://rsms.me/inter/inter-ui.css');

body {
  font-family: 'Inter UI', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
  color: white;
  background: black;
  -webkit-font-smoothing: antialiased;
}

.container{
  display: flex;
  margin: 0;
  padding: 0 20px;
  height: 100vh;
}

.content {
  max-width: 730px;
  display: inline-block;
  margin: auto;
  align-self: center;
}


h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.4px;
}

span#logo {
  display: inline-block;
  opacity: .7;
  cursor: pointer;
  transition-duration: .5s;
}

span#logo:hover {
  color: #FFD505;
  opacity: 1;
  transform: translateY(-5px);
}

h2, p {
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
}

h2.emoji {
  padding-top: 4px;
}

p {
  opacity: .7;
}

.btns {
  margin-top: 40px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#btn_d, #btn_t {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 6px;
  transition-duration: .5s;
}

#btn_d:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(102, 16, 242, .5);
}

#btn_t:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(3, 116, 255, .5);
}

#btn_d {
  background-color: #6610F2;
  width: 445px;
  height: 60px;
  margin-right: 30px;
}

#btn_t {
  background-color: #0374FF;
  width: 255px;
  height: 60px;
}

h2, a {
  line-height: 60px;
  align-self: center;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.hero {
  margin-top: 160px;
  margin-bottom: 260px;
  opacity: 0;
  animation: fadeup 2s cubic-bezier(0.2, 0.8, 0.2, 1) .2s forwards;
}


@media (max-width: 768px) {
  .content {
    max-width: 480px;
  }

  span#dribbble, span#twitter {
    display: none;
  }

  #btn_d, #btn_t {
    width: 180px;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .content {
    max-width: 400px;
  }

  span#dribbble, span#twitter {
    display: none;
  }

  #btn_d, #btn_t {
    width: 150px;
    margin-bottom: 20px;
  }
}


@keyframes fadeup {
  from   {opacity: 0; transform: translateY(20px)}
  to {opacity: 1; transform: translateY(0px)}
}

@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}